<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <style>
    body{
        background: url(../static/bg.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  </style>
    <title>Home</title>
</head>
<body class="bg">
    <div class="home">
    <h1>Home page</h1>
    <p style="text-align: center;" >welcome {{a}}!</p>
    <button type="button" class="btn btn-success btn-lg" ><a href="{% url 'logout'%}">Logout</a></button>
    <br><br>
    {% if request.user.is_superuser %}
    <button type="button" class="btn btn-light btn-md"><a href="{% url 'adminpage' %}">Admin panel</a></button>
    {% endif %}

</div>
</body>
</html>